            /** Universal Styling **/
body {
    background-color: green;
}

canvas {
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 10px;
}

/** Font **/
#instruction-text {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  margin-top: 30px;
  text-align: center;
}

.game-button {
  color: green;
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  margin: 40px auto;
}

            /*** Welcome Screen ***/

#welcome-screen {
  background-color: black;
  height: 100%;
}

#logo {
  display: block;
  margin: auto;
  padding-top: 40px;
  width: 70%;
}

              /*** Advancement Info Screens ***/

.winning-screen {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/** Image **/
.bigSkull {
  display: block;
  height: 8%;
  margin: auto;
  width: 8%;
}

/** Font **/
.advancement {
  color: black;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}


              /*** Game Screen ***/


.lives-and-level {
  display: inline-block;
  margin: 10px;
}

#lives-and-level-wrapper {
    text-align: center;
}
